@import "../../scss/variables.scss";
@import "../../scss/mixins/reset.scss";
@import "../../scss/mixins/text.scss";
@import "../../scss/mixins/utility.scss";

.container {
  background-color: $dark-grey;
  display: block;
  padding: 7px 23px 4px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
}

.animation_icon {
  transition:
    $animation-time ease-in-out,
    -webkit-transform $animation-time ease-in-out;
}

.selected {
  .animation_icon {
    transform: rotate(180deg);
  }
}
