// MEDIA POINTS

$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1232px;

// FONT FAMILY

$font-family-roboto: "Roboto", sans-serif;

// COLORS

$basic-platinum: red;
$basic-white: #ffffff;
$grey: #5a5c66;
$light-green: #7ebc3c;
$blue-crayola: #b2b7bf;
$dark-grey: #474955;
$periwinkle-crayola: #e3e6ec;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// ANIMATIONS

$animation-time: 0.2s;

// BOX-SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;
